<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>



// Original code by: www.youtube.com/@marcomanchannel
// Modified by: [myatkay213272]
// Date: [March 2025]
// Description: Updated for learning and customization
